# Basic Operations on Strings Using Python

In [2]:
# python strings
# string a 
a = 'hello'
print(a)

hello

In [6]:
# string b
b = "Hello, World!"
print(b)

Hello, World!

In [7]:
# Slcing by Index
print(b[2:5])

llo

In [8]:
a = "Hello, World!"
print(len(a)) # length
print(a.upper()) #Upper case
print(a.lower()) # Lower Case 
print(a.replace("H", "J")) # Replace

13
HELLO, WORLD!
hello, world!
Jello, World!

In [9]:
# Concatenation 
a = "HELLO"
b= "World"
c= a + " " + b 
print(c)

HELLO World

In [10]:
# For loop
a = "SAI MITHRAVASU "

for ch in a:
    print(ch)

S
A
I

M
I
T
H
R
A
V
A
S
U

In [1]:

quote = " Roses are not lillies"
quote[:]

' Roses are not lillies'

In [2]:
# string Methods
f1 = "Rose"
f2 = "lillies"
f1 in quote

True

In [3]:
f2 in quote

True

In [4]:
f1 not in f2

True

In [5]:
quote.islower()

False

In [6]:
quote.endswith("lillies")

True

In [7]:
quote.replace("roses", "all flowers")

' Roses are not lillies'

## Various ways of splitting a string

In [5]:
#splitting a string
my_string = 'One two three four'
word_list = my_string.split() # splitting by space
print(word_list)

['One', 'two', 'three', 'four']

In [6]:
my_string = '1/2/3/4/5'
number_list = my_string.split('/') #splitting by /
print(number_list)

['1', '2', '3', '4', '5']

In [4]:
str = 'peach raspberry strawberry vanilla'
tokens = str.split() 
print(tokens)

['peach', 'raspberry', 'strawberry', 'vanilla']